body {
    margin-top: 60px;
}

.m-t-10 {
    margin-top: 10px;
}
.form-group {
    margin-bottom: 0;
}

table#users_table thead th {
    position: relative;
}

table#users_table th,
table#users_table td {
    vertical-align: middle;
}

table#users_table td:last-child {
    width: 85px;
}

table#users_table thead .sorting::after,
table#users_table thead .sorting_asc::after,
table#users_table thead .sorting_desc::after {
    font-family: FontAwesome;
    position: absolute;
    vertical-align: middle;
    right: 8px;
}

table#users_table thead .sorting::after {
    opacity: 0.4;
    content: "\f07d";
}

table#users_table thead .sorting_asc::after {
    content: "\f160";
}

table#users_table thead .sorting_desc::after {
    content: "\f161";
}

table#users_table thead .sorting,
table#users_table thead .sorting_asc,
table#users_table thead .sorting_desc {
    cursor: pointer;
}

table#users_table thead td{
    vertical-align: middle;
}

.processing {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bbba;
}

.userSearch {
    width: 250px;
}

.pageSize {
    width: 120px;
}

.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 10px;
    right: 10px;
    margin-top: 0;
}
